<div class="container text-center">
  <ul class="pagination">
    <li>
      <a ng-show="pageCtrl.currentPage > 1 " ng-click="pageCtrl.selectPage(pageCtrl.currentPage - 1)" aria-label="Previous">
                   <span aria-hidden="true">&laquo;</span>
               </a>
    </li>
    <li ng-class="{'active': pageCtrl.pgStart + $index == pageCtrl.currentPage}" ng-repeat="page in pageCtrl.visiblePages track by $index"><a ng-click="pageCtrl.selectPage(pageCtrl.pgStart + $index)">{{pageCtrl.visiblePages[$index]}}</a></li>
    <li>
      <a ng-hide="pageCtrl.isLastPage" ng-click="pageCtrl.selectPage(pageCtrl.currentPage + 1)" aria-label="Next">
                 <span aria-hidden="true">&raquo;</span>
             </a>
    </li>
  </ul>

  <div ng-repeat="choice in pageCtrl.pageSizeChoices" class="btn-group btn-group-sm pull-right" role="group">
    <button ng-class="{'active': pageCtrl.pageSize == choice}" ng-click="pageCtrl.selectPageSize(choice)" type="button" class="btn btn-default">{{choice}}</button>
  </div>
</div>
