<header class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <a class="navbar-brand" href="dashboard.html"> {{ 'title' | translate }} </a>
    <button ng-class="{'active': headCtrl.langSelected == 'fr'}" ng-click="headCtrl.changeLanguage('fr')" class="btn btn-default">{{ 'btn.change-lang-fr' | translate }}</button>
    <button ng-class="{'active': headCtrl.langSelected == 'en'}" ng-click="headCtrl.changeLanguage('en')" class="btn btn-default">{{ 'btn.change-lang-en' | translate }}</button>
  </div>
</header>
